body > div {
	float: left;
}

#login_box {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.32);
}

#login_box h1 {
    text-align: center;
}

#corpoIndex{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#formIndex{
    border: 3px solid #f1f1f1;
	padding: 10px;
    margin: 16px;
}

#conteudo_principal {
	padding: 1%;
	width: 70%;
	background-color: #eaeaea;
}

form input, textarea{
    width: 100%;
    margin: 2px;
}

.login-logo {
    text-align: center;
    display: block;
    height: 120px;
	background-image: url('../img/login.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 20px 0;
	background-color: #2c7bb5;
}

.fontUser{
    font-weight: bold;
}

.input_login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#input{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#input:hover{
	background-color: #59bf5d;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mensagem-erro {
	color: red;
}

.mensagem-sucesso {
    color: green;
}

.menu-lateral 
{
    width: 25%;
	float: left;
	text-align: center;
	margin-right: 10px;
}

.menu-lateral a {
    display: block;
    color: black;
    background-color: #d5e6ff;
    padding: 15px;
}

.menu-lateral a:hover {
    background-color: #eff5ff;
}

.menu-lateral a.active {
    background-color: #93beff;
    color: white;
}

#pacientes {
    border-collapse: collapse;
    width: 100%;
}

#pacientes td, #pacientes th {
    border: 1px solid black;
    padding: 2px;
}

#pacientes th {
    text-align: left;
    background-color: #c3c3c3;
    color: black;
}

#pacientes tr:hover {
    background-color: #d2d2d2;
}

#formulario_consulta_paciente {
    border: 1px solid black;
    padding: 15px;
}