body div {
	float: left;
}

#login_box {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    margin: auto;
}

#login_box h1 {
    text-align: center;
}

#corpoIndex{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/fundo.jpg');
    background-size: 1500px 1000px;
}

#formIndex{
    border: 3px solid #f1f1f1;
	padding: 10px;
}

#conteudo_principal {
	padding: 1%;
	width: 70%;
	background-color: #eaeaea;
}

form input, textarea{
    width: 100%;
    margin: 2px;
}

#login{
    text-align: center;
    display: block;
    height: 120px;
    width: 200px;
    margin: 20px auto;
    object-fit: contain;
    max-width: 90%;
}

.fontUser{
    font-weight: bold;
}

.input_login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#input{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#input:hover{
    opacity: 0.8;
}

.mensagem-erro {
	color: red;
}

.mensagem-sucesso {
    color: green;
}

.menu-lateral 
{
    width: 25%;
	float: left;
	text-align: center;
	margin-right: 10px;
}

.menu-lateral a {
    display: block;
    color: black;
    background-color: #d5e6ff;
    padding: 15px;
}

.menu-lateral a:hover {
    background-color: #eff5ff;
}

.menu-lateral a.active {
    background-color: #93beff;
    color: white;
}

#pacientes {
    border-collapse: collapse;
    width: 100%;
}

#pacientes td, #pacientes th {
    border: 1px solid black;
    padding: 2px;
}

#pacientes th {
    text-align: left;
    background-color: #c3c3c3;
    color: black;
}

#pacientes tr:hover {
    background-color: #d2d2d2;
}

#formulario_consulta_paciente {
    border: 1px solid black;
    padding: 15px;
}